.footer{
    background-color: var(--onyx);
    color: var(--timberwolf);
    text-align: center;
    padding: 2rem 0;
}

.footer a{
    color: var(--timberwolf);
    transition: 0.3s all linear;
}

.footer a:hover{
    color: var(--safron);
}