.modal-overlay{
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.modal-container{
    display: none;
    background-color: var(--platinum);
    border-radius: 10px;
    box-shadow: 0px 3px 6px #00000029;
    padding: 40px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-width: 800px;
    width: 100%;
    z-index: 1;
    max-height: 80vh;
    overflow-y: auto;
}

.modal-container::-webkit-scrollbar{
    display: none;
}

.modal-close{
    float: right;
    cursor: pointer;
}

.modal-title{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

/*modal body*/

.modal-body{
    margin-bottom: 20px;
    text-align: center;
}

.producto{
    align-items: center;
    display: flex;
    justify-content:space-around;
    margin-bottom: 20px;
}




.producto-img{
    background-color: white;
    border-radius: 10px;
    height: 80px;
    margin-right: 20px;
    width: 80px;
    object-fit:contain;
}

.producto-info{
    flex: 1;
    text-align: left;
    text-transform: capitalize;
}

.product-info h4{
    margin-top: 35px;
}

.quantity{
    background-color: white;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-right: -12em;
    padding: 0.5rem;
    position:absolute;
}

.quantity-btn-decrease,
.quantity-btn-increse{
    color: #333333;
    cursor: pointer;
    font-size: 16px;
    width: 28px;
    font-weight: bold;
}

.quantity-input{
    color: #333333;
    font-size: 16px;
    padding: 10 10px;
    text-align: center;
    width: 50px;
    font-weight: bold;
}
.trash{
    color: var(--red);
}

@media only screen and (max-width: 500px) {
    .producto-img{
        display: none;
    }
    .modal-body{
        margin-left: 5px;
        margin-right: 5px;
    }
}

.price{
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
}

.delete-producto{
    margin-top: 20px;
    margin-left: 2em;
    cursor: pointer;
}

.modal-footer{
    text-align: center;
}

.total-price{
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
}