.card-products-container{
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 3rem 0;
}

.card-products{
    display: grid;
    grid-template-columns: repeat(4,200px);
    gap: 2rem;
    justify-content: space-between;
    width: 80%;
}

.product{
    align-items: center;
    border-radius: 10px;
    background-color: var(--platinum);
    display: flex;
    flex-direction: column;
    width: 200px;
    padding: 1rem;
}

.product img{
    background-color: white;
    border-radius: 10px;
    height: 260px;
    width: 200px;
    margin-bottom: 1rem;
    object-fit:contain;
}

.product-name{
    font-weight: 700;
    padding-bottom: 1rem;
    text-transform: capitalize;
}

.product-btn{
    border: none;
    background-color: var(--safron);
    cursor: pointer;
    font-family: var(--ff-montserrat);
    margin: 1rem 0;
    text-transform: uppercase;
    width: 100%;
    padding: 0.5rem 0;
    transition: 0.2s all linear;
}

.product-btn:hover{
    opacity: 0.8;
}

.btn-close{
    font-size: 22px;
}

.cart-btn{
    align-items: center;
    position: fixed;
    display: flex;
    top: 90vh;
    right: 40px;
    background-color: var(--onyx);
    padding: 10px;
    border-radius: 50%;
    justify-content: center;
    height: 24px;
    width: 24px;
    transition: transform 0.2s ease-in-out;

    box-shadow: -3px -1px 10px 10px rgba(0,0,0,0.07);
-webkit-box-shadow: -3px -1px 10px 10px rgba(0,0,0,0.07);
-moz-box-shadow: -3px -1px 10px 10px rgba(0,0,0,0.07);
}

.cart-btn:hover{
    cursor: pointer;
    opacity: 0.9;
}

.cart-counter{
    display: none;
    position: fixed;
    top: 89vh;
    right: 27px;
    color: #fff;
    text-align: center;
    background-color: #ed3434;
    padding: 4px;
    border-radius: 50%;
    height: 17px;
    width: 17px;
    font-size: 15px;
}

